.chatContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
}


.loaderContainer{
  display: flex;
  justify-content: flex-start;
  flex-direction: column; 
}

.loaderIcon{
  align-self: flex-start;
  background-color: rgba(0, 128, 255, 0.5); /* Bleu clair transparent */
  border-radius: 50%; /* Arrondi */
  border-radius: 50%; /* Arrondi */
  padding: 8px; /* Espace autour de l'icône */
  margin-bottom: 0px; /* Réduire l'espace entre le message et l'icône */
}

.loader{
  width: auto; /* ajustez selon vos besoins */
  height: 15px; /* assurez-vous que le logo conserve son aspect ratio */
  margin-right: 0px; /* espace entre les logos */
  border-radius: 5%;
}

.questionsContainer{
  display: flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content: space-around;
}

.button {
  padding: 8px 24px;
  background-color: rgb(206, 201, 201);
  color: white;
  border: none;
  font-size: 1em;
  cursor: pointer;
  border-radius: 50%; /* Removed duplicate border-radius property */
}