
.inputForm {
  display: flex;
  width: 100%;
  padding: 10px;
  padding-bottom: 40px;
}

.input {
  flex-grow: 1;
  padding: 16px 24px;
  margin-right: 10px;
  border-radius: 60px;
  border: 2px solid transparent;
  font-size: 1em;
  background-color: #d7d5d5;
}

.input:focus {
  outline: none !important;
  border-color: #000;
  background-color: white;
}

.button {
  padding: 8px 24px;
  background-color: rgb(12 74 110);
  color: white;
  border: none;
  font-size: 1em;
  cursor: pointer;
  border-radius: 60px; /* Removed duplicate border-radius property */
}

.button:disabled {
  background-color: lightgrey;
}